*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.admin{
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}

.caja div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja div p,
.caja button{
    margin-top: 30px;
}

.caja div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja div p{
    font-size: 16px;
    font-weight: 300;
}

.caja button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}
/*///////////////////////////////////////////////////////////////////////// ADMIN

*/

.crear {
    color: #46A2FD;
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
}

.crear button {
    background-color: #46A2FD;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
}

.crear button:hover {
    background-color:#46A2FD;
}
.cont_admin{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 10px;
}
.cont_admin label,
.cont_admin input,
.cont_admin textarea {
    margin-bottom: 5px; 
}

.logo{
    color: #F2F2F2;
    margin: 20%;
}
.titulo{
    color: #46A2FD;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 18px;
}
.contenedor_logo {
    width: 100%;
    max-width: 100px;
    margin: 0;
    position: absolute; 
    top: 0; 
    left: 0; 
}
