.body{
    background-image: url(../../../../DESARROLLO-WEB-2/vista/login/assets/images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}